<launch>
	<arg name="handle_payloadstream" default="true" />
    <!-- This is only needed is not running a piccolo_driver Node-->
    <node name="autopilot_driver_ground" pkg="seagull_autopilot" type="autopilot_driver"  output="screen">
    	<param name="ap_conn_type" type="int" value="1" />
        <param name="ap_payloadstream" type="bool" value="true" />
        <param name="ap_host" type="str" value="172.21.4.202" />
        <param name="ap_port" type="str" value="2001" />
    </node>
<!--
    <node name="comms_relay" pkg="seagull_communication" type="comms_relay"  output="screen">
    </node>
    <node unless="$(arg handle_payloadstream)" name="autopilot_comms" pkg="seagull_autopilot" type="autopilot_comms"  output="screen">
        	<param name="ps_baudrate" type="int" value="57600" />
        	<param name="ps_vehicleid" type="int" value="1" />
	        <param name="ps_device" type="str" value="/home/posilva/dev/ttyS99" />
    </node> -->
</launch>
